.chartContain {
  background-color: #fbfefc;
  width: 100%;
  padding: 34px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 6px;
}

.rowOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowOne h2 {
  font-family: "Mona-Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}
.rowOne p {
  font-family: "Mona-Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  color: #6e6e6e;
}

.rowOne select {
  border: 0.5px solid #e1e1e1;
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  font-family: "Mona-Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #6e6e6e;
  outline: none;
}
